<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application','arsproject' %>
    <%= javascript_include_tag 'mt12c','mt12p','ddr','ap'%>


      <link rel="stylesheet" type="text/css" href="/mooeditable/Assets/MooEditable/MooEditable.css"/>
      <link rel="stylesheet" type="text/css" href="/mooeditable/Assets/MooEditable/MooEditable.Extras.css"/>
      <link rel="stylesheet" type="text/css" href="/mooeditable/Assets/MooEditable/MooEditable.Forecolor.css"/>

      <script type="text/javascript" src="/mooeditable/Source/MooEditable/MooEditable.js"></script>
      <script type="text/javascript" src="/mooeditable/Source/MooEditable/MooEditable.UI.ButtonOverlay.js"></script>
      <script type="text/javascript" src="/mooeditable/Source/MooEditable/MooEditable.Forecolor.js"></script>


    <%= yield(:head) %>

  </head>
  <body>

    <%- if show_title? -%>
      <h1 id="ap_header"><div ><%=h yield(:title) %>  <%= yield(:title_extra) %></div></h1>
    <%- end -%>

    <div id="container" class="ap_container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :class => 'ap_flash', :id => "flash_#{name}" %>
      <%- end -%>
      

      <div id="ap_menu">
        <%= yield :menu %>
        <%= render :partial => 'layouts/menu' %>
      </div>
      
      <% if with_avatar? %>
        <% if current_user %>
        <div class="ap_gravatar">
            <% if @user %>
              <%= image_tag @user.gravatar_url %>
            <% else %>
              <%= image_tag current_user.gravatar_url %>
            <% end %>
        </div>
        <% end %>
        <div class="ap_form">
          <%= yield %>
        </div>

      <% else %>

        <%= yield %>

      <% end %>

    </div>
  </body>
</html>
<script type="text/javascript">
  DD_roundies.addRule('.ap_container','20px', true);
  DD_roundies.addRule('.ap_add_new','7px', true);
  DD_roundies.addRule('.ap_add_new','7px', true);
  DD_roundies.addRule('#ap_header','0 0 17px 0', true);
</script>
